.submenu {
  display: none;
  position: sticky;
  width: 200px;
  top: 0%;
  left: 0;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.menu li:hover .submenu {
  transition: ease 0.4s;
  display: block;
}

.submenu li {
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
}

.submenu li:last-child {
  border-bottom: none;
}
